<header id="header">
  <!-- 뒤로가기 -->
   <button type="button" class="backButton">

   </button>
     <!-- 로고 -->
    <a href="http://localhost:4000/posts/">
      <img src="/static/images/nanum-logo.png" alt="나눔숲" />
    </a>
    <button type="button" class="searchButton">

    </button>
   <!-- search -->
</header>