<header id="header">
  <!-- 메뉴 -->
    <button type="button" class="menuButton">
   </button>
     <!-- 로고 -->
    <a href="#">
      <img src="/static/images/nanum-logo.png" alt="나눔숲" />
    </a>
    <button type="button" class="searchButton">

    </button>
   <!-- search -->
</header>

