<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/static/styles/pages/category/categoryList.css"
        />
        <link rel="stylesheet" href="/static/styles/reset.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="category-menu-bar">
            <section>
                <a href="">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <div class="category-profile">
                    <i class="fa-solid fa-user"></i>
                    <p class="category-nickName">닉네임</p>
                    <p class="category-id">@ggaong</p>
                </div>
            </section>
            <section>
                <% category.forEach(function(category) { %>
                <div class="category-list">
                    <a href="/client/category/<%= category.categoryId %>">
                        <p><%= category.title %></p>
                    </a>
                </div>
                <% }) %>
            </section>
            <div class="logout">
                <a href="">
                    <p>로그아웃</p>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </body>
</html>
