<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./_layouts/meta.ejs') %>
    <link rel="stylesheet" href="/static/styles/style.scss" />
    <link rel="stylesheet" href="/static/styles/init.css" />
  </head>
  <body>
    <script>
      if (document.cookie === "") {
        window.location.href = "/login";
      }
      const accessToken = document.cookie
        .split(";")
        .find((cookie) => cookie.includes("accessToken"))
        .split("=")[1];
      console.log(document.cookie);
      if (accessToken !== undefined) {
        window.location.href = "/posts";
      } else {
        window.location.href = "/login";
      }
    </script>
  </body>
</html>
