<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/static/styles/pages/category/searchPopup.css"
        />
        <link rel="stylesheet" href="/static/styles/reset.css" />
        <link rel="stylesheet" href="/static/styles/init.css" />
        <title>검색</title>
    </head>
    <body>
        <div class="search-popup">
            <i class="fa-solid fa-x"></i>
            <input
                type="text"
                class="search-input"
                placeholder="검색어를 입력해주세요."
            />
        </div>
    </body>
</html>
