@charset "utf-8";
@import "../../common.css";


body {
  background-color: var(--sub-color-3);
}


#wrap {
  /* overflow-x: hidden; */

}


#wrap > .inner {
  padding: 0;
  padding-right: 15px;
  padding-top: 5%;
  
}


/* 폼 영역*/
#postWriteForm {
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
}

/* 카테고리 선택 */
.category, #category {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  color: var(--mono-500);
  /* padding: 0 10px; */
}

/* 카테고리 select 박스 */
select::-ms-expand {
  display: none;
}
select {
  background-image: url('/static/images/arrow-down.svg'); 
  background-repeat: no-repeat;
  background-position: right 10px top 30%;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 25px 5px 5px;
  background-size: 10px;
  background-color: var(--mono-000);
}

select.category option {
  cursor: pointer;
  font-weight: 500;
  /* width: 100%; */
}



/* 제목 */
.title, #title {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

/* 제목, 카테고리선택 부분 왼쪽 여백주기 */
#title, #category {
  padding-left: 10px;
}

/* 내용 */
#content {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-family: "noto Sans KR";
  font-size: 15px;
  color: var(--mono-400);
  resize: none;

}
