<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
  <link rel="stylesheet" href="/static/styles/pages/posts/postEdit.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 
  <div id="wrap">
    <div class="inner">
      <%- include('../../_layouts/header-menu-w') %>
    </div>
    
    <div class="inner container">
      <form id="postWriteForm" class="flex-column-center">
        <!-- 카테고리 선택 시작 -->
        <label for="category" class="category">
          <!-- <span>카테고리 선택</span> -->
          <select name="category" id="category" class="category" required>
            <option disabled selected>카테고리 선택</option>
            <option value="movie">&#127916; 영화 나눔숲</option>
            <option value="exercise">&#128170; 운동 나눔숲</option>
            <option value="develop">&#128187; 개발 나눔숲</option>
            <option value="food">&#127836; 맛집 나눔숲</option>
            <!-- <option value="food"> 나눔숲</option>
            <option value="food"> 나눔숲</option> -->
          </select>
        </label>
      <!-- 카테고리 선택 끝 -->

        <!-- 제목 입력 시작 -->
        <label for="title" class="title">
          <!-- <span>제목</span> -->
          <input type="text" name="title" id="title" required placeholder="제목을 작성해 주세요." />
        </label>
        <!-- 제목 입력 끝 -->
        <!-- <div id="summernote"></div> -->

        
        <!-- 내용 입력 시작 -->
          
        <div class="contentArea">
          <!-- <div id="content" contenteditable="true" placeholder="게시글 내용을 작성해 주세요."></div> -->
          <textarea name="content" id="content" maxlength= "2000" placeholder="게시글 내용을 작성해 주세요."></textarea>
          <div class="upload">
            <label for="file">
                <img src="/static/images/upload-btn-gray.svg" class="formImg" alt="파일업로드버튼" />
            </label>
            <input type="file" id="file" />
          </div>
        </div>

        <!-- 내용 입력 끝 -->
       
          <!-- 작성 (제출) 버튼 -->
        <button type="submit">작성 완료</button>
      </form>
  </div>

  
  <script>
    const $form = document.getElementById("postWriteForm");

    $form.addEventListener("submit", async (e) => {
      e.preventDefault();
      try {
        const title = $form.title.value;
        const content = $form.content.value;

        // console.log({
        //   title,
        //   content,
        // });

        const cookies = document.cookie.split(";").reduce((acc, cookie) => {
          const [key, value] = cookie.split("=");
          acc[key.trim()] = decodeURIComponent(value);
          return acc;
        }, {});

        const token = `${cookies.accessToken}`;

        const res = await fetch("/api/posts", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
            authorization: token,
          },
          body: JSON.stringify({ title, content }),
        });

        const data = await res.json();

        if (!res.ok) {
          throw new Error(data.details);
        }

        location.href = `/posts/${data.postId}`;
      } catch (error) {
        alert("게시글 작성에 실패했습니다.", error.message);
      }
    });
  </script>
</div>


  
  <script>
    const $deleteButton = document.getElementById("delete-button");

    const cookies = document.cookie.split(";").reduce((acc, cookie) => {
      const [key, value] = cookie.split("=");
      acc[key.trim()] = decodeURIComponent(value);
      return acc;
    }, {});

    const token = `${cookies.accessToken}`;

    $deleteButton?.addEventListener("click", async () => {
      try {
        const res = await fetch("/api/posts/<%= post.postId %>", {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
            authorization: token,
          },
        });

        if (!res.ok) {
          throw new Error("게시글 삭제에 실패했습니다.");
        }

        location.href = "/posts";
      } catch (error) {
        console.error("게시글 작성에 실패했습니다.");
      }
    });
  </script>
</body>
</html>