<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 상세</title>
  <link rel="stylesheet" href="/static/styles/pages/posts/postDetail.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 
 <div id="wrap">
  <div class="inner">
    <%- include('../../_layouts/header-menu') %>
    <div class="post">
      <div class="postTop">
        <!-- 유저 닉네임 받아오기 -->
        <span>다영다영</span>
       
      </div>
      
    </div>

   

  </div>
 </div>


  
  <script>
    const $deleteButton = document.getElementById("delete-button");

    const cookies = document.cookie.split(";").reduce((acc, cookie) => {
      const [key, value] = cookie.split("=");
      acc[key.trim()] = decodeURIComponent(value);
      return acc;
    }, {});

    const token = `${cookies.accessToken}`;

    $deleteButton?.addEventListener("click", async () => {
      try {
        const res = await fetch("/api/posts/<%= post.postId %>", {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
            authorization: token,
          },
        });

        if (!res.ok) {
          throw new Error("게시글 삭제에 실패했습니다.");
        }

        location.href = "/posts";
      } catch (error) {
        console.error("게시글 작성에 실패했습니다.");
      }
    });
  </script>
</body>
</html>