@charset "utf-8";
@import "../../common.css";

body {
  background-color: var(--mono-000);
  width: 428px;
  height: 926px;
  border: 2px solid red;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  margin-top: 170px;
  margin-bottom: 70px;
  width: 208px;
  height: 70px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: var(--mono-300);
  gap: 5px;
}

.form-group.b {
  margin-top: 20px;
}

.form-control {
  width: 304px;
  height: 55px;
  background-color: #efffe5;
  border-radius: 10px;
}

input[type="password"] {
  border: none;
  outline: none;
}
