@charset "utf-8";
@import "../../common.css";

body {
  background-color: var(--body-bg);
  border: 2px solid red;
}

#header {
  margin: 0 auto;
  width: 390px;
}

#wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-headerimage {
  width: 428px;
  height: 251px;
}

/* 유저 프로필 소개 부분 */
.profile-area {
  width: 393px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -100px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  /* border: 1px solid blue; */
  position: relative;
}

.edit {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--mono-300);
}

.profile-user {
  font-size: 14px;
}

.nickName {
  font-weight: bold;
}

.profile-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
  border: 1px solid var(--mono-100);
}

.biotext {
  margin-top: 20px;
}
/* 유저 프로필 소개 부분 */

/* 내 게시글 / 좋아요한 게시글 버튼 부분 */
.post-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-filter {
  margin: 10px auto;
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid var(--sub-color-3);
}

.post-filter button {
  width: 120px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.post-filter button:hover {
  color: var(--primary);
}

.post-filter p {
  margin-top: 12px;
  color: #bcbbbb;
}
/* 내 게시글 / 좋아요한 게시글 버튼 부분 */

/* 게시글 부분 */
.post {
  width: 389px;
  height: 356px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* (유저 정보) */
.post-profile {
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  /* border: 1px solid blue; */
}

#listButton {
  position: absolute;
  top: 0px;
  right: 10px;
}

.category {
  font-size: 10px;
  color: var(--primary);
  width: 57px;
  height: 19px;
  border: 1px solid var(--primary);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 3px;
  right: 38px;
}

.category i {
  margin-top: 1px;
}

.post-profile-thumbnail {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
}

.profile-user.b p {
  font-size: 12px;
}
/* (유저 정보) */

.post-content-text {
  padding-left: 15px;
  height: 22px;
  width: 350px;
}

.post-image {
  width: 360px;
  height: 165px;
  margin: 12px auto 20px;
  display: flex;
  justify-content: center;
}

.post-time-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 30px;
  height: 22px;
  width: 350px;
  font-size: 13px;
  color: #cccccc;
  border-bottom: 1px solid #e9e8e8;
}

/* 게시글 아이콘 부분 */
.icon-container {
  gap: 15px;
  margin-left: 10px;
  margin-top: 2px;
}

.icon-button {
  width: 28px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--mono-300);
}

.icon-button i {
  width: 18px;
}
