body {
    background-color: #6ee5a3;
}

.category-write-edit-wrapper {
    display: flex;
    gap: 100px;
}

.category-setup-menu-bar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    width: 280px;
    height: 100vh;
    position: relative;
}

.fa-gear {
    position: absolute;
    right: 0px;
    top: 5px;
    color: black;
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
}

.category-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 15px;
    position: relative;
}

.fa-user {
    font-size: 35px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.category-nickName {
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: bold;
}

.category-id {
    font-size: 12px;
    padding: 0 0 15px 0;
    font-weight: bold;
}

.category-id:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #a5a4a4;
}

.category-setup-menu-bar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    height: 83%;
}

.menu-contents p {
    margin: 15px 0;
    font-weight: bold;
}

.logout {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 18px;
    font-weight: 700;
}

.logout a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-write-edit-main {
    background-color: rgba(255, 255, 255, 0.8);
}
.create-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 15px;
}

.create-category p {
    font-size: 16px;
    font-weight: bold;
}

.create-category input::placeholder {
    font-size: 14px;
}

.category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.category-list p {
    width: 200px;
}
