.category-write-edit-wrapper {
    display: flex;
}

.category-setup-menu-bar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    width: 280px;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

#header img {
    margin: 0 auto;
}

.category-setup-menu-bar::-webkit-scrollbar {
    width: 10px;
}

.category-setup-menu-bar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.category-setup-menu-bar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

#header-img {
    width: 200px;
}

.category-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 15px;
    position: relative;
}

.fa-gear {
    position: absolute;
    right: 0px;
    top: 5px;
    color: var(--mono-500);
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
    z-index: 10;
}

.fa-user {
    font-size: 35px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.category-nickName {
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: bold;
}

.category-id {
    font-size: 12px;
    padding: 0 0 15px 0;
    font-weight: bold;
}

.category-id:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #a5a4a4;
}

.category-setup-menu-bar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    height: calc(100% - 180px);
}

.menu-contents p {
    margin: 15px 0;
    font-weight: bold;
}

.logout {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
    padding-bottom: 10px;
}

.logout a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-write-edit-main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 100px;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.create-category {
    display: flex;
    margin: 30px;
    gap: 15px;
}

.create-category p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.create-category input {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--sub-color-3);
}

.create-category input::placeholder {
    color: var(--mono-000);
    font-size: 14px;
}

.category-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-list-wrapper p {
    padding: 20px 0;
    font-weight: bold;
}

.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    gap: 20px;
}

.category-list input {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--sub-color-3);
    color: var(--mono-000);
    text-align: center;
}

.category-list p {
    display: flex;
    align-items: center;
}

.category-edit-icons {
    display: flex;
    gap: 10px;
}
/* 로그아웃 창 */
.logout-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mono-000);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logout-popup.hidden {
    display: none;
}

.popup-content p {
    padding-bottom: 15px;
    font-weight: 700;
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-cancel {
    background-color: var(--sub-color-5);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-confirm {
    background-color: var(--sub-color-4);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
