@import "_reset";

body {
    background-color: #6ee5a3;
}

.menu-bar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    width: 280px;
    height: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.fa-user {
    font-size: 35px;
    padding: 15px;
    background-color: #a5a4a4;
    border-radius: 50%;
}
.fa-gear {
    color: black;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
    padding-bottom: 15px;
    position: relative;
}

h2:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 2px;
    width: 280px;
    background: #a5a4a4;
}

.logout {
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-top: 15px;
}

.fa-right-from-bracket {
    position: absolute;
    left: 80px;
    bottom: -6px;
    color: black;
    font-size: 20px;
    padding: 10px;
}
