<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 리스트</title>
</head>
<body>
  관리자 페이지 게시글 리스트

  <% posts.forEach(function(post) { %>
    <div>
      <a href="/admin/posts/<%= post.postId %>">
        <h2><%= post.title %></h2>
      </a>
      <p><%= post.content %></p>
    <% }); %>
</body>
</html>